 * {
     
}

body {
    display:flex;
    background: transparent;  
    text-align: center;
    justify-content: center;
}


.quizWindow {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 75%;
    padding: 10%;
}


h1 {
    text-align: center;
    font-size: 250%;
}

.start {
    width:33%;
    margin-left: auto;
    margin-right: auto;
}

.choiceA {
    width:33%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}