 * {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    position: absolute;
    font-size: 150%;
}

.timer {
    position: absolute;
    left: 0;
    top: 3;
    padding-left: 15px;
    font-weight: bold;
}

body {
    display:flex;
    background: transparent;  
    text-align: center;
    justify-content: center;
}


.quizWindow {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 75%;
    padding: 10%;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 75%;
    padding: 10%;
    align-items: center;
}

#scoreBoard {
    background-color: white;
    color: white;
    width: 300px; 
    height: 300px;
    margin-left: auto; 
    margin-right: auto; 
    letter-spacing: 2px;
}


h1 {
    text-align: center;
    font-size: 250%;
}

#start {
    background-color: blue;
    color: white;
    width:33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 30px;
}

.answer {
    padding: 10px;
}

.answer:hover{
    background-color: rgb(0, 110, 255);
    filter: brightness(150%);
}

.choiceA {
    width:33%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.quizWindow {
    justify-content: left;
}

#quizQuestions {
    padding: 30px;
    font-weight: bold;
    font-size: 200%;
}

.answer {
    background-color:blue;
    color: cornsilk;
    margin: auto;
}

li {
    padding: 15px;
    background-color: blue;
    font-weight: bold;
    text-align: center;
    margin-right: 40px;
}

#clearButton {
    width: 100px;
    bottom: 0;
    margin: 30px;
    text-align: center;
}

.feedback {
    border-top: grey solid 2px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;

}